
<div class=" d-flex col-sm-12 justify-content-center mb-5 align-items-center back-2 row">

    <div class=" d-flex col-sm-12 justify-content-center"><b>Dependancy Injection Example</b></div>
    <div class=" d-flex col-sm-12 justify-content-center">Constants service is injected to Table service and Table service is injected to Table Component!</div>

</div>
<div class=" d-flex col-sm-12 justify-content-center mb-5 align-items-center back-2 row">
   <p> Constant Service</p>
    <pre>{{snippet1}}</pre>
    <p>Constant Service injection to table service</p>
    <pre>{{snippest2}}</pre>
   <p> Table service injection to Component</p>
    <pre>{{snippest3}}</pre>
</div>
<div class="d-flex flex-row mb-3 back row" >
    <div class=" d-flex col-sm-6 justify-content-center">Name</div>
    <div class="col-sm-2">Seats</div>
    <div class="col-sm-2">Bet</div>
    <div class="col-sm-2">Rake </div>
</div>
<div class="d-flex flex-row mb-3  row" [ngClass]="i%2==1?'back':'back-2'" *ngFor="let table of tables; index as i;">
    <div class=" d-flex col-sm-6 justify-content-center">{{table.name}}</div>
    <div class="col-sm-2">{{table.numSeats}}</div>
    <div class="col-sm-2">{{table.bet}}</div>
    <div class="col-sm-2">{{table.rake}} </div>
</div>