/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
 
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
.back {
    border: 1px solid #eee;
    padding: 10px;
    background-color: #33b5e5;
    color: #fff;
  }
  .back-2 {
    border: 1px solid #eee;
    padding: 10px;
    background-color: #10637f;
    color: #fff;
  }
